<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shop}">Shop</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">Cart (<span th:text="${cartCount}">0</span>)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2>Cart</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Remove</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${productCountMap}">
            <td th:text="${entry.key.name}">Product Name</td>
            <td class="col-sm-5 d-flex justify-content-center">
                <img class="" height="150px" width="120px" th:src="@{${'/productImages/' + entry.key.imageName}}">
            </td>
            <td th:text="${entry.value}">1</td>
            <td th:text="${entry.key.price}">Price</td>
            <td th:text="${entry.key.price * entry.value}">Total</td>
            <td>
                <a th:href="@{/cart/removeItem/{id}(id=${entry.key.id})}" class="btn btn-danger btn-sm">-</a>
            </td>

            <td>
                <a href="" th:href="@{/addToCartFromCart/{id}(id=${entry.key.id})}" class="btn btn-primary">+</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <h4>Total: ₹<span th:text="${total}">0</span></h4>
        <a th:href="@{/checkout}" class="btn btn-primary">Checkout</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
